#products {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

.boddy {
    background-color: #6a8796;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(140deg, #548ca8, #334257);
    padding: 10px;
}

.main-container {
    background-color: #334257;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 8px;
}

.main-container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.main-container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(140deg, #548ca8, #334257);
}

.main-container .add-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-details .input-box input {
    height: 45px;
    width: 100%;
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-box {
    width: 45%;
    margin: 10px 0;
}

.data-input {
    border-radius: 5px;
    border-width: 0.05rem;
}

.bottom-button {
    border-radius: 5px;
    border-width: 0;
    background: linear-gradient(140deg, #548ca8, #607da3);
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px 0 10px;
}

.confirm-cancel-btns {
    display: flex;
    justify-content: center;
}

#textarea1 {
    width: 100%;
    border-radius: 5px;
    height: 80px;
}


#Category {
    height: 50px;
    border-radius: 5px;
    background-color: #fff;
}

#category-select {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 750px) {
    .product-details {
        display: flex;
        justify-content: center;
    }

    .input-box {
        width: 80%;
    }
}

/* Product component style */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    width: 25%;
    margin: 5rem 0;
    padding: 1rem;
    transition: all .3s;
    border-radius: 5px;
    cursor: pointer;
}

.product:hover {
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 50%);
}

.product__image img {
    max-width: 100%;
}

.product-detaile__title {
    font-size: .95rem;
    line-height: 1.5;
    color: #585858;
    font-weight: 500;
}

.product-detaile__category {
    font-size: .9rem;
}

.product-detaile__price-add {
    color: #000;
    display: flex;
    justify-content: space-between;
}

.product-detaile__price {
    font-size: 1rem;
    font-weight: 800;
}

.product-detaile__add-icon {
    font-size: 1.4rem;
    padding-right: 2rem;
    cursor: pointer;
}

.product-detaile__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-detaile__edit-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}

.product-detaile__edit-icon i:hover {
    color: blue
}

.product-detaile__remove-icon i:hover {
    color: red
}

/* Product component style */
.nav1-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #334257;
}

.nav1 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: fit-content;
    background-color: #334257;
}

.nav1 li {
    list-style: none;
    width: 10%;
    max-width: 100px;
    border-width: 1px;
    height: 45px;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.nav1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    height: 25px;
}

.nav1 span {
    width: 100%;
    height: 5px;
    background-color: transparent;
}

.nav1 li:hover span {
    width: 100%;
    max-width: 102px;
    height: 5px;
    background-color: #548CA8;
}

.dropdown {
    width: 100%;
}

#dropdown-items {
    width: 100%;
    position: absolute;
    display: none;
}

#dropdown-items a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    height: 35px;
    position: relative;
    top: 5px;
    text-align: center;
    background-color: #334257;
    z-index: 1;
}

.clicked #dropdown-items {
    display: block;
}

#dropdown-items a:hover,
#dropItem,
#dropItem1 {
    background-color: white !important;
    color: #334257;
}

.dropdown1 {
    width: 100%;
}

#dropdown-items1 {
    width: 100%;
    position: absolute;
    display: none;
}

#dropdown-items1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100px;
    height: 35px;
    position: relative;
    top: 5px;
    text-align: center;
    background-color: #334257;
    z-index: 1;
}

.clicked1 #dropdown-items1 {
    display: block;
}

#dropdown-items1 a:hover {
    background-color: white;
    color: #334257;
}

#search {
    width: 20%;
    min-width: 200px;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0px;
}

#search svg {
    fill: white;
}

#search input {
    border: 0px;
    font-size: 20px;
    width: 170px;
    outline: none;
}

.dropbtn {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    font-size: 17px;
    position: relative;
    color: white;
    min-width: 100px;
}

.dropbtn1 {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    height: 30px;
    font-size: 17px;
    position: relative;
    left: 15px;
    color: white;
}

.dropdownli {
    font-weight: bold;
    margin-left: 0px;
}

.dropdownli1 {
    font-weight: bold;
    margin-left: 0px;
}

#Grid {
    margin-left: auto;
}

#List {
    margin-left: 0px;
}

.down-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}

.icon1 {
    display: none;
    margin-right: 10px;
    margin-top: 5px;
}

.active span {
    background-color: #548CA8;
}

.active:hover span {
    max-width: 100% !important;
}

@media screen and (max-width: 800px) {
    .nav1 {
        flex-direction: column;
    }

    .nav1 li {
        width: 100%;
        max-width: none;
    }

    #dropdown-items {
        width: 100px;
    }

    #dropdown-items1 {
        width: 100px;
    }

    .active {
        margin-top: 3px;
    }

    #dropdown-items a {
        top: 35px;
    }

    #dropdown-items1 a {
        top: 35px;
    }

    .dropbtn {
        position: static;
    }

    .dropbtn1 {
        position: static;
    }

    .dropdown {
        display: flex;
        justify-content: center;
    }

    .dropdown1 {
        display: flex;
        justify-content: center;
    }

    .nav1 li:not(.active) {
        display: none;
    }

    .icon1 {
        display: block;
    }

    #search {
        width: 100%;
        min-width: 0;
    }

    #search input {
        width: 90%;
    }

    .active {
        order: -1;
    }

    .responsive li:not(.active) {
        display: flex !important;
    }
}

.icon1-container {
    display: inline-block;
    cursor: pointer;
}

.bar1-1,
.bar2-1,
.bar3-1 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change1 .bar1-1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change1 .bar2-1 {
    opacity: 0;
}

.change1 .bar3-1 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}